#header {
  padding: 15px;
  display: flex;
  justify-content: right;
  position: relative;
  height: 200px;
}

#logo {
  position: absolute;
  right: 85%;
}

#login-form h2 {
  position: absolute;
  top: 20px;
  right: 10%;
}

#login-id {
  position: absolute;
  top: 100px;
  right: 10%;
}

#login-password {
  position: absolute;
  top: 130px;
  right: 10%;
}

#greeting {
  position: absolute;
  top: 80px;
  right: 15%;
}

.hidden {
  display: none;
}

form > input:last-child {
  position: absolute;
  top: 160px;
  right: 10%;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}
/* 
      게시판 목록 행 단위 
      목록 요소 자체를 가운데 정렬하기
      ul 기본 가로 크기는 100%이므로, 가로 크기를 지정해줘야 가운데로 정렬할 수 있다.
      가운데 정렬
      번호, 제목, 작성자, 작성일, 조회, 좋아요 와 데이터 정렬
  */
.board_row {
  width: 1000px;
  border-bottom: solid 1px gray;
}

/* 게시글 목록 공통 개별 요소 속성 */
li {
  list-style: none;
  border-bottom: solid 1px gray;
  float: left;
  text-align: center;
  /* padding: 0;
      margin: 0; */
}

/* 번호, 제목, 작성자, 작성일, 조회, 좋아요 row의 style 설정 */
.title_row > li {
  height: 50px;
  line-height: 50px;
  background: rgb(233, 233, 233);
  font-weight: bold;
  border-top: solid 2px rgb(0, 0, 0);
  border-right: solid 1px gray;
}

/* 게시글 목록 데이터 개별 요소 속성 */
.data_row > li {
  height: 40px;
  line-height: 40px;
  font-weight: lighter;
  border-right: solid 1px gray;
}

/* 요소들의 너비 설정 */
.w70 {
  width: 70px;
}
.w500 {
  width: 500px;
}
.w120 {
  width: 120px;
}
.w100 {
  width: 100px;
}

/* 게시판 목록 박스 */
.notice_board {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* 구성 요소 세로로 배치 */
  flex-direction: column;
}

.pagination {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

/* 전체 중앙 정렬 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
